
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 327 43% 98%;
    --foreground: 0 0% 17%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 17%;
    --primary: 329 62% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 327 43% 94%;
    --secondary-foreground: 329 62% 40%;
    --muted: 327 20% 96%;
    --muted-foreground: 327 10% 40%;
    --accent: 325 57% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 327 20% 90%;
    --input: 327 20% 90%;
    --ring: 329 62% 60%;
    --chart-1: 329 62% 60%;
    --chart-2: 325 57% 46%;
    --chart-3: 327 43% 94%;
    --chart-4: 329 30% 70%;
    --chart-5: 325 20% 80%;
    --radius: 1.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
